/*
   Variables
   ========================================================================== */

//Typography
$base-font-size: 12px;
$baseline: $base-font-size * 1.5;

//Color
$text-general: #000;
$text-light: #BFB7B7;

$white: #fff;

// buttons
$bg-1: #5699CB;

// inputs focused
$bg-2: #FFFEDC;

$bg-3: #CCC;

$popup-width: 300px;
$popup-height: 200px;