/*
look at the weird glitch on the 6th btn. something to do with color vs background-color. or did i fuck up?
*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* MAIN */
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  width: 300px;
  height: 200px;
}

button {
  padding: 0;
}

/* Utilities */
.fr {
  float: right;
}

/* App btn */

.btn {
  float: right;
}

.btn-wrap {
  width: 55px;
  height: 28px;
  margin: 0;
  cursor: pointer;
}
.btn .btn-bg {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 40px;
  padding: 3px;
  color: #fff;
  transition: all 0.2s ease;
}
.btn .btn-switch {
  position: relative;
  left: 0px;
  width: 22px;
  height: 22px;
  border: solid 6px;
  background-color: #fff;
  border-radius: 36px;
  transition: all 0.2s ease;
}

.btn-active .btn-switch {
  left: 27px;
}
.btn-active .btn-bg {
  background-color: rgba(34, 122, 187, 0.76);
}

.btn .btn-in,
.btn .btn-out {
  position: absolute;
  transition: all 0.2s ease;
  padding-top: 15px;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
}
.btn .btn-in {
  margin-left: 76px;
}
.btn .btn-out {
  margin-left: 18px;
}


/* Options */

.options {
  width: 100%;
  padding: 5px;
  /*border:1px solid black;*/

}

.option {
  position: relative;
  height : 37px;
  line-height: 37px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #ccc;
}

.options-disabled .option-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.86);
}

.option-name {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.57);
  display: inline;
}

.period-input {
  display: inline-block;
  width: 50px;
  text-align: center;
}
.period-input:focus {
  background: rgba(255, 247, 0, 0.14);
  border-style: solid;
  border-color: #ccc;
}

.period-name {
  width: 40px;
  display: inline-block;
  cursor: default;
}

.period-restart-btn {
  float: right;
  cursor: pointer;
  border: none;
  height: 35px;
  width: 25px;
  background-color: transparent;
}

.period-restart-btn:focus {
  outline: 0;
}

.period-restart-btn img {
  display: block;
}

.period-input-btn {
  font-size: 0.85em;
  color: rgba(0, 0, 0, .3);
}

.period-input-btn.btn-hidden {
  visibility: hidden;
}

.period-input-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.timer {
  display: inline-block;
  width: 40px;
  float: right;
  cursor: default;
}

.idle-table {
  float: right;
  width: 25px;
  color: rgba(0, 0, 0, .3);
  cursor: default;
}

/* checkbox btn*/
.checkbox-btn {
  width: 18px;
  height: 18px;
  line-height: 1em;
  font-size: 1.5em;
  margin: 10px 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.28);
 -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #5699CB;
  cursor: pointer;
  text-align: center;
  color: #fff;
  -webkit-transition: background-color .2s;
  -moz-transition:  background-color .2s;
  -ms-transition:  background-color .2s;
  -o-transition:  background-color .2s;
  transition:  background-color .2s;
}

.checkbox-btn.disabled {
  background-color : #fff;
}
