/* Periods section
   ========================================================================= */

.period-input {
  display: inline-block;
  width: 45px;
  padding: 3px 0;
  border-radius: 9px;
  border-style: double;
  border-color: $bg-3;
  border-width: 1px;
  text-align: center;
}
.period-input:focus {
  background: rgba(255, 247, 0, 0.14);
  outline: none;
}

.period-name {
  width: 40px;
  display: inline-block;
  cursor: default;
}

.period-restart-btn {
  float: right;
  cursor: pointer;
  border: none;
  height: 35px;
  width: 25px;
  background-color: transparent;
  font-size: 1rem;
  color: darken($bg-1, 10%);

  &:hover {
    transform: scale(1.05, 1.05);
  }
}

.period-restart-btn:focus {
  outline: 0;
}

.period-restart-btn img {
  display: block;
}

.period-input-btn {
  font-size: 0.85em;
  color: rgba(0, 0, 0, .54);
}

.period-input-btn.btn-hidden {
  visibility: hidden;
}

.period-input-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.timer {
  float: right;
  padding-right: 9px;
  text-align: right;
  cursor: default;
}

.idle-table {
  float: right;
  width: 25px;
  color: rgba(0, 0, 0, .3);
  cursor: help;
}

.afk-state,
.remind-state {
  float: right;
  margin: 0 20px;
  color: $bg-3;
  font-weight: bold;
  visibility: hidden;

  &.shown {
    visibility: visible;
  }
}

.remind-state {
  font-size: 1.4rem;
  cursor: help;
}
